.conteudo{
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  display: block;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}

.container {
  column-count: 4;
  column-gap: 10px;
}

@media screen and (max-width: 800px) {
  .container {
    column-count: 2;
    column-gap: 5px;
  }
  figure{
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
    max-width: 100%;
  }
}
