.conteudo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.column {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

img {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 0;
  }

}

@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
    max-width: 100%;
  }

}
