<div id="main-container" class="absolute m-auto left-0 right-0
">

  <div class="absolute inset-0 z-10 bg-gradient-to-t from-black"></div>
  <div class="inset-x-0 bottom-0 z-20 p-4 flex items-center justify-center flex-col">
    <p class="mb-1 text-sm text-white text-opacity-80">1.0.1</p>
    <img class="rounded mx-2 my-2 aspect-square w-30"
      src="https://avatars.githubusercontent.com/u/124470994?s=200&v=4favicon.ico" alt="Logo DS">
    <h3 class="text-xl font-medium text-white">Ainda não tem nada aqui! Volte mais tarde...</h3>
    <p class="mt-1 text-white text-opacity-80">Ainda estamos desenvolvendo algumas funcionalidades</p>
    <button type="button" routerLink="/alunos"
      class="my-2 rounded-lg border border-violet-500 bg-violet-500 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-violet-700 hover:bg-violet-700 focus:ring focus:ring-violet-200 disabled:cursor-not-allowed disabled:border-violet-300 disabled:bg-violet-300">
      Clique para ver os alunos!
    </button>

  </div>

</div>