<div
  class="flex align-center justify-center flex-row  m-0 p-0 max-h-max h-full w-[100vw] relative py-16 md:py-6 md:px-6">

  <div class="h-fit w-[60vw] md:w-full mx-2 rounded-lg bg-[#2A2634] shadow flex flex-row md:flex-col" *ngIf="userData">
    <!--CARD-->
    <div
      class="pt-8 pl-8 md:p-4 md:pb-0 h-full w-[25%] md:w-[100%] md:flex md:flex-row md:justify-center md:align-middle pb-6">
      <img [hidden]="!imageLoaded" *ngIf="userData && userData.img && userData.name" (load)="loadImage()"
        [src]="userData.img" class="rounded-lg object-cover w-full h-fit md:w-[25%] aspect-square hover:opacity-5"
        [alt]="userData.name" />
      <img *ngIf="!imageLoaded || !userData.img"
        src="https://i.pinimg.com/550x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg"
        class="rounded-lg object-cover w-full h-fit md:w-[25%] aspect-square animate-pulse" alt="Carregando..." />

      <div class="w-fit h-fit md:flex md:flex-row md:flex-wrap">
        <h3 class="text-xl text-white font-semibold antialiased mt-2 md:mt-0 md:px-4 md:h-fit"
          *ngIf="userData.nickname">{{
          userData.nickname }}
        </h3>
        <h3 class="text-xs text-gray-400 font-medium antialiased line-clamp-2  md:px-4" *ngIf="userData.name">({{
          userData.name }})</h3>
        <p class="mt-1 text-gray-500 text-ms text-center line-clamp-2  md:line-clamp-4 md:px-4 md:text-sm"
          *ngIf="userData.quote">
          "{{
          capitalizeFirstLetter(userData.quote)
          }}"</p>
        <span x-data="{ tooltip: 'Este usuário ajudou durante o desenvolvimento.' }">
          <i class="w-full fa-solid fa-code bg-[#19161f] rounded-lg p-2 text-xs text-gray-400 mt-3 text-center hover:border-gray-300 border-2 border-transparent md:mt-1 md:mx-4 h-fit"
            *ngIf="userData.nickname && checkIfIsDev(userData.nickname, 'dev')"
            x-tooltip.placement.right="tooltip"><small style="font-size: .4rem">ㅤ</small><span class="font-semibold"
              style="font-family: 'Inter', sans-serif">DESENVOLVEDOR</span></i>
        </span>
        <span x-data="{ tooltip: 'Este usuário contribuiu para o projeto.' }">
          <i x-tooltip.placement.right="tooltip"
            class="w-full fa-solid fa-handshake-angle bg-[#19161f] rounded-lg p-2 text-xs text-gray-400 mt-2 text-center hover:border-gray-300 border-2 border-transparent md:mt-1 md:mx-4 h-fit mb-5 sm:mb-0"
            *ngIf="userData.nickname && checkIfIsDev(userData.nickname, 'contributor')"><small
              style="font-size: .4rem">ㅤ</small><span class="font-semibold"
              style="font-family: 'Inter', sans-serif">CONTRIBUIDOR</span></i>
        </span>
      </div>
    </div>
    <div class="my-8 mx-8 md:my-4 md:mx-4 w-full md:w-fit ">

      <!--Conteudo-->
      <div>
        <!--SOBRE MIM-->
        <div class="w-full flex flex-row align-middle justify-between">
          <div class="w-full h-fit">
            <h1 class="font-bold text-white text-lg mb-1">SOBRE MIM</h1>
          </div>
          <div class="w-fit min-w-[6rem] min-h-max flex align-middle text-right justify-end">
            <i class="fa-sharp fa-solid my-auto relative fa-arrow-left text-gray-300 h-4 w-full text-xs cursor-pointer"
              routerLink="/alunos">
              VOLTAR</i>
          </div>
        </div>
        <h3 class="text-md w-full font-normal text-gray-400 rounded-lg bg-[#19161f] p-3 mb-6 mt-1"
          style="white-space: pre-line">
          {{userData.descricao}}</h3>
      </div>
      <div>
        <!--REDES SOCIAIS-->
        <h1 class="font-bold text-white text-lg mb-1 mt-2"
          *ngIf="userData.instagram || userData.github || userData.linkedin">REDES SOCIAIS</h1>
        <ul class="w-full flex align-center justify-between flex-row mb-3 mt-1"
          *ngIf="userData.instagram || userData.github || userData.linkedin">
          <li *ngIf="userData.github"
            class="mb-2 bg-[#19161f] transition	hover:bg-[#2a2634] hover:border-gray-300 cursor-pointer border-2 border-transparent rounded-lg p-3 w-full mr-1">
            <a class="text-gray-400 text-end text-md" [href]="userData.github"><i
                class="fa-brands fa-github mr-2"></i>GitHub</a>
          </li>
          <li *ngIf="userData.instagram"
            class="mb-2 bg-[#19161f] transition	hover:bg-[#2a2634] hover:border-gray-300 cursor-pointer border-2 border-transparent rounded-lg p-3 w-full mx-1">
            <a class="text-gray-400 text-end text-md" [href]="userData.instagram"><i
                class="fa-brands fa-instagram mr-2"></i>Instagram</a>
          </li>
          <li *ngIf="userData.linkedin"
            class="mb-2 bg-[#19161f] transition	hover:bg-[#2a2634] hover:border-gray-300 cursor-pointer border-2 border-transparent rounded-lg p-3 w-full ml-1">
            <a class="text-gray-400 text-end text-md" [href]="userData.linkedin"><i
                class="fa-brands fa-linkedin mr-2"></i>LinkedIn</a>
          </li>
        </ul>
      </div>
      <div>
        <!--TCC-->
        <h1 class="font-bold text-white text-lg mb-1">TCC</h1>
        <div class="w-full h-max mt-1 cursor-pointer">
          <div
            class="flex align-center justify-center h-fit mx-auto rounded-lg bg-[#19161f] transition	hover:bg-[#2a2634] hover:border-gray-300 border-2 border-transparent shadow"
            *ngIf="tccData" (click)="showInfoModal(tccData)">
            <div class="p-4 w-full">
              <h3 class="text-md font-medium text-white">{{ tccData.title }}</h3>
              <p class="text-sm mt-1 text-gray-500">{{ tccData.description }}</p>
            </div>
            <div class="p-4 w-[10%] min-h-full flex align-center justify-center">
              <i class="fa-solid fa-chevron-right text-gray-500 right-0 text-center h-4 w-6 m-auto aspect-square"></i>
            </div>
          </div>
          <div
            class="mx-auto rounded-lg bg-[#19161f] transition	hover:bg-[#2a2634] hover:border-gray-300 border-2 border-transparent shadow"
            *ngIf="!tccData">
            <div class="p-4">
              <h3 class="text-md font-medium text-gray-500">
                <i class="fa-solid fa-lock mr-2 text-gray-500"></i>
                Projeto
                Privado ou
                Inexistente
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
